body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Amiko', sans-serif;
}

.ibm{
  font-family: 'IBM Plex Sans', sans-serif;
}

.montserrat{
  font-family: 'Montserrat', sans-serif;
}

.bg-orange{
  background-color: #EF5E0D;
}

.bg-lilac{
  background: rgba(190, 17, 233, 0.24);
}

.font-15{
  font-size: 15px;
}

.font-16{
  font-size: 16px;
}

.font-18{
  font-size: 18px;
}

.font-700{
  font-weight: 700;
}

.search-input{
  box-shadow: none !important;
  outline: none !important;
  border: 1px solid transparent !important;
}

.search-input::placeholder{
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
  color: #3E3E3E !important;
  font-family: 'IBM Plex Sans', sans-serif;
}

.signup-input::placeholder{
  font-size: 18px;
  font-weight: 400;
  color: #9A9A9A  !important;
  font-style: normal;
}

.in-group{
  outline: none !important;
  border: 0.6px solid #B7ABAB !important;
  border-radius: 30px !important;
}

.border-30{
  border-radius: 30px;
}

.border-15{
  border-radius: 15px;
}

.border-20{
  border-radius: 20px;
}

.bor3{
  border: 1px solid #EF5E0D;
  transition: 0.5s;
}

.bor3:hover{
  transform: scale(1.05);
}

.input-text{
  background-color: transparent !important;
  outline: none !important;
  border: 1px solid transparent !important;
}

.best-seller-items{
  transition: 0.5s;
}

.best-seller-items:hover{
  transform: scale(1.1);
}

.linear-gradient{
  background: linear-gradient(39.27deg, #CC4CEC 65.38%, #BE11E9 72.02%);
  border-radius: 30px;
}

.sign-up{
  background: linear-gradient(91.62deg, #EF5E0D 26.96%, #F03800 85.31%);
}

.icon-bg{
  background: rgba(6, 6, 6, 0.08);
  border-radius: 50%;
}

.close-icon{
  transform: scale(1.4);
  cursor: pointer;

}

.plus-icon{
  transform: scale(1.3);
  cursor: pointer;
  color: #EF5E0D;
}

.menu-icon{
  transform: scale(1.7);
  cursor: pointer;
  color: #2C3452;
}